<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>Hello! <%= name%> , you have shared some files to your friends.</h4>
    <fieldset>
        <legend>File Information:</legend>
        <table>
            <thead><tr style="background-color: rgb(51, 122, 183)"><th>#</th><th>File Name</th><th>File Size</th><th>Expired Day</th></tr></thead>
            <tbody>
            <%if (files.length) { %>
            <% files.forEach(function(file, index){ %>
            <tr><td><%= index+1 %></td><td><%= file.name %></td><td><%= file.size %></td><td><%= expiredDay %></td></tr>
            <% })%>
            <% }%>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>Receiver Email Distributions:</legend>
        <table>
            <thead>
            <tr style="background-color: rgb(51, 122, 183)">
                <th>
                    Email Distribution:
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= emails %></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend>All files have been checked:</legend>
        <h4>Please <a href="<%= confirmation%>">click here</a> to confirm.</h4>
    </fieldset>

</body>
</html>