<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0;">
  <h4>Hello! <%= name%> have shared some files with you.</h4>
　 <fieldset>
      <legend>File Information:</legend>
      <table>
          <thead><tr style="background-color: rgb(51, 122, 183)"><th>#</th><th>File Name</th><th>File Size</th><th>Expired Day</th></tr></thead>
          <tbody>
          <%if (files.length) { %>
          <% files.forEach(function(file, index){ %>
          <tr><td><%= index+1 %></td><td><%= file.name %></td><td><%= file.size %></td><td><%= expiredDay %></td></tr>
          <% })%>
          <% }%>
          </tbody>
      </table>
    </fieldset>
  <h4>Please <a href=<%= link0%>>click here</a> to view the detail.</h4>
</body>
</html>